@CHARSET "UTF-8";

#searchbar {
	
}
.upd-table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
th {
	border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
    background-color : SteelBlue;
}
#btn {
	text-align:center;
}
#price {
	text-align:center;
}
#quant {
	text-align:center;
}

tr:nth-child(odd) {
    background-color: LightBlue;
}
